{% extends "base.twig" %}
{% block content %}

<div class="starter-template ">
    <h2>about</h2>
        <ul>
            <h4>This site is a link collection of the footballer instagram account.</h4>
            <br>
            <p><a href="/">Home</a> is footballer recently posts in random order.</p>
            <p><a href="/accounts/1">Accouts</a> is a link collection of the worldwide footballer. </p>
        </ul>
    <h2>contact</h2>
        contact me on twitter <a href="https://twitter.com/mickey390">mickey390</a>.
</div>


{% endblock %}
